p{
    color:#F11111;
    text-transform: uppercase;
    text-decoration: line-through;
}

#div1{
    width:300px;
    height: 300px;
    border-radius:10px;
    background-color: #00FF00;
    border: 5px dotted #FF0000;
    padding:7px;
    margin: 40px;
    font-size: 3em;
    text-shadow: 5px 5px 5px #000000;
}